@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .top-full {
    top: 110%;
  }
  .wrapper-1000 {
    width: min(1000px, 95%);
  }
  .h-05 {
    height: 0.125rem;
  }
  .min-h-95 {
    min-height: 95vh;
  }
}
