@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .top-full {
    top: 110%;
  }
  .wrapper-1000 {
    width: min(1000px, 95%);
  }
  .h-05 {
    height: 0.125rem;
  }
  .min-h-95 {
    min-height: 95vh;
  }
  .min-h-80 {
    min-height: 80vh;
  }
  .top-18 {
    top: 4.5rem /* 80px */;
  }
  @media (min-width: 768px) {
    .md\:h-700 {
      height: 700px;
    }
  }
  .bg-image-2 {
    background-image: url(bg-wallpaper.png);
    background-size: cover;
  }
  .scroll-behavior-smoot{
    scroll-behavior: smooth;
  }
}
